@using Traversal_Core_Project.Areas.Admin.Models
@model List<Visitor_VM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<div class="card">
    <h5 class="card-header">Ziyaretçi Listesi</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td align="center" style="font-weight: bold;">#</td>
                        <th>Ad</th>
                        <th>Soyad</th>
                        <th>Şehir</th>
                        <th>Ülke</th>
                        <th>Mail</th>
                        <td align="center" style="font-weight: bold;">Sil</td>
                        <td align="center" style="font-weight: bold;">Güncelle</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        count++;
                        <tr>
                            <th align="center">@count</th>
                            <td>@item.Firstname</td>
                            <td>@item.Lastname</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.Mail</td>
                            <td align="center"><a href="/Admin/VisitorAPI/DeleteVisitor/@item.Id" class="btn rounded-pill btn-danger">Sil</a></td>
                            <td align="center"><a href="/Admin/VisitorAPI/UpdateVisitor/@item.Id" class="btn rounded-pill btn-primary">Güncelle</a></td>
                        </tr>

                    }
                </tbody>
            </table>
            <br />
            <a href="/Admin/VisitorAPI/AddVisitor/" class="btn rounded-pill btn-primary">Yeni Ziyaretçi Ekle</a>

        </div>
    </div>
</div>



